<h3>{{title}} - {{displayQuery}}</h3>
<form (ngSubmit)="sendQuery()" [formGroup]="form" >
  <div *ngFor="let key of modelKeys">
      {{key}} <input placeholder="Enter {{key}} Here" formControlName="{{key}}"/>
  </div>
  <button type="submit">Submit</button>
</form>


<div *ngIf="searchResults; else elseBlock">
  <div *ngIf="searchResults.items.length > 0; else nothingFound">
      <h3 class="total">Total Results: {{searchResults.total_count}}</h3>
      <ul class="list">
        <li [ngClass]="{'backGroundSilver': true , 'backgroundWhite': true}" class="list_item" *ngFor="let result of searchResults.items; index as i;">
          <a [href]="result.html_url">
            <img class="avatar" [src]="result.owner.avatar_url" />
            <h4 class="title">{{result.name}}
              <small> by {{result.owner.login | uppercase}}</small>
            </h4>
          </a>
          <p class="description"> {{result.description}}</p>
          <p>Created on: {{result.created_at | date: 'fullDate'}}</p>
        </li>
      </ul>
  </div>
</div>

<ng-template #nothingFound>Nothing bru</ng-template>
<ng-template #elseBlock>Loading...</ng-template>